/.vs/T4_Demo/v16/*.suo
/.vs/T4_Demo
/ClassByDbTable/obj
/EnumByDOM/obj
/EnumByJsonFile/obj
/EnumByTxtFile/obj
/ExtAssembly_48/obj/Debug
/ExtAssembly_DOM/obj
/ExtAssembly_gRpc/obj
/gRpcService/obj
/MyCodegenerator/.vs/MyCodegenerator
/MyCodegenerator/obj
/MyCodegeneratorUsing/obj
/Simple_Class/obj
/Simple_Enum/obj
/Simple_EnumWriteLine/obj
/Simple_TestClassArray/obj
/Simple_TestClassArray2/obj
/WcfService/obj
/MyCodegenerator/bin/Debug/net5.0
/MyCodegeneratorUsing/bin/Debug/netcoreapp3.1
