/.vs/T4_Demo/v16/*.suo
/.vs/T4_Demo
/ClassByDbTable/obj
/EnumByDOM/obj
/EnumByJsonFile/obj
/EnumByTxtFile/obj
/ExtAssembly_48/obj/Debug
/ExtAssembly_DOM/obj
/ExtAssembly_gRpc/obj
/gRpcService/obj
/MyCodegenerator/.vs/MyCodegenerator
/MyCodegenerator/obj
/MyCodegeneratorUsing/obj
/Simple_Class/obj
/Simple_Enum/obj
/Simple_EnumWriteLine/obj
/Simple_TestClassArray/obj
/Simple_TestClassArray2/obj
/WcfService/obj
/MyCodegenerator/bin/Debug/net5.0
/MyCodegeneratorUsing/bin/Debug/netcoreapp3.1
/Simple_TestClassArray/bin/Debug/netcoreapp3.1
/Simple_TestClassArray2/bin/Debug/netcoreapp3.1
/ClassByDbTable/bin/Debug/netcoreapp3.1
/EnumByDOM/bin/Debug/netcoreapp3.1
/ExtAssembly_48/bin/Debug
/WcfService48/obj/Debug
/EnumByJsonFile/bin/Debug/netcoreapp3.1
/EnumByTxtFile/bin/Debug/netcoreapp3.1
/ExtAssemblyWcf_48/obj/Debug
/FontFamilies/obj
/gRpcService/bin/Debug/netcoreapp3.1
/packages
/Simple_Class/bin/Debug/netcoreapp3.1
/Simple_Enum/bin/Debug/netcoreapp3.1
/Simple_EnumWriteLine/bin/Debug/netcoreapp3.1
/T4AtRuntime/obj
/WcfService48/bin/Debug
